.feature-description{
    display: inline;
    margin: 5px
}

#region-visible {
    margin-top: 20px;
}

#yearRangeButtons {
    margin-top: 20px;
}

#year-range-description {
    max-width: 1000px;
}

#countySelectContainer select, #countySelectContainer div {
    display:inline;
}

#countySelectContainer select, .dropdown-pair select{
    margin-right:10px;
    margin-bottom: 20px
}

#feature-container {
   margin-top: 20px;
   margin-bottom: 20px; 
}

.category-container {
    margin: 10px 0
    
}

.category-header, #year-range-header {
    font-weight: bold;
    font-size: 20px;
    
    /* text-align: center; */
}

.questions-container {
    width:1500px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
}

.question-header {
    /* width:fit-content */
    /* text-align: center; */
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.radio-container {
    display: grid;
    grid-template-columns: 25px auto;
}

.textbox-container > * {
    display: inline;
}

.textbox-container > input {
    margin-right: 5px;
}
#content {
    margin: 50px 0px 0px 150px
}

/* #result {
    margin-top: 15px;
} */

.measures-wrapper {
    width:1500px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
}

.measure-name {
    /* width:fit-content */
    /* text-align: center; */
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.baseline-plot{
    width: 1000px
}

.measure-plot{
    width: 1500px
}